<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">

    <div class="first_styles" style="margin:0 auto;width: 700px">
    <a><h2>登录</h2></a>
     <form method="post" action="{% url 'vote:login' %}" >
            {{ error }}
            <br>
            name:<input type="text" name="name"><br><br>
            pwd:<input type="password" name="pwd"><br><br>
            <input type="submit" value="登录">
     </form>





    </div>
</body>
</html>